<div class="left-nav">
{#  <h4 class="block__title"><a href="/about" class="active-trail active">{{ left_nav_title }}</a></h4>#}
  {% include "@molecules/menus/_menu.twig" with {
    menu_class: "left-navigation",
    items: left_nav_items
  } %}  
</div>
 