<div class="mini-infographic flex items-center justify-center">
    <div class="mini-infographic-inner">
        {% include "@base/global/02-icons/_icon.twig" with {
          name: icon_name
        } %}
        <p>
            <span class="mi-title db">
  {{ mi_title }}</span>
            <span class="mi-sub-title">
  {{ mi_sub_title }}</span>
        </p>
    </div>
</div>  