.mini-infographics {
  flex-wrap: wrap;
}
.mini-infographic {
  text-align: center;
  padding: 2rem 1rem;
  width: 50%;
  border-right: 1px solid darken(white, 10%);
  border-bottom: 1px solid darken(white, 10%);
  display: flex;
  align-items: center;
  color: lighten(black, 25%);
  .mini-infographic-inner {
    line-height: 1;
    svg {
      @include f2;

      color: $oswego-green;
      margin: auto;
      margin-bottom: 0;
    }
    &:hover {
      svg {
        color: lighten(black, 25%);
      }
    }
  }
  p {
    margin-top: 0.5rem;
    line-height: 1.25;
    margin-bottom: 0;
  }
  .mi-title {
    font-family: $mercury;
    font-weight: bold;
    @include f6;
  }
  .mi-sub-title {
    font-family: $whitney;
    @include f7;
  }
  &:nth-child(5) {
    border-bottom: 0;
  }
  &:nth-child(6) {
    border-bottom: 0;
  }
  &:nth-child(even) {
    border-right: none;
  }
  @media screen and (min-width: $medium) {
    width: 33.333%;
    padding: 2rem;
    .mi-title {
      font-family: $mercury;
      font-weight: bold;
      font-size: 1rem;
      //margin-bottom: .25rem;
    }
    .mi-sub-title {
      font-family: $whitney;
      font-size: 0.85rem;
    }
    p {
      margin-top: 0;
    }
    .mini-infographic-inner {
      text-align: left;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      svg {
        margin-bottom: 1rem;
        margin-right: 1rem;
      }
    }
    &:nth-child(even) {
      border-right: inherit;
    }
    &:nth-child(2) {
      border-right: 1px solid darken(white, 10%);
    }
    &:nth-child(3) {
      border-right: none;
    }
    &:nth-child(4) {
      border-right: 1px solid darken(white, 10%);
    }
    &:nth-child(n + 4) {
      border-bottom: none;
    }
  }
  @media screen and (min-width: 1200px) {
    justify-content: flex-start;
    display: flex;
    align-items: flex-start;

    .mini-infographic-inner {
      text-align: left;
      flex-direction: row;

      svg {
        flex-grow: 0; /* do not grow   - initial value: 0 */
        flex-shrink: 0; /* do not shrink - initial value: 1 */
        flex-basis: 40px;
        margin-right: 1rem;
        @include f2;
      }
    }
  }
}
