.small-feature {
  display: flex;
  align-items: start;
  max-width: 1300px;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;

  h3 {
    margin-top: 0;
  }

  &.center {
    text-align: center;
    justify-content: center;
  }

  &.right {
    justify-content: flex-end;
  }

  &__content {
    max-width: 850px;
  }

  &.has-media {
    img {
      @include rounded;
      @include drop;
    }

    .the-media {
      width: 33.33%;
      padding-right: $space;
    }

    .small-feature__content {
      width: 66.67%;
      padding-left: $space;
    }

    &.img-right {
      flex-direction: row-reverse;

      .the-media {
        padding-right: 0;
        padding-left: $space;
      }

      .small-feature__content {
        padding-left: 0;
        padding-right: $space;
      }
    }

    &.half-img-right {
      flex-direction: row-reverse;

      .the-media {
        padding-right: 0;
        padding-left: $space;
      }

      .small-feature__content {
        padding-left: 0;
        padding-right: $space;
      }

      img {
        width: 100%;
      }

      .the-media,
      .small-feature__content {
        width: 50%;
      }
    }

    &.half {
      .the-media {
        img {
          width: 100%;
        }
      }

      .the-media,
      .small-feature__content {
        width: 50%;
      }
    }
  }

  @media screen and (max-width: 768px) {
    flex-wrap: wrap;

    .small-feature__content,
    .the-media {
      padding: 0 !important;
      flex-basis: 100%;
    }

    .the-media {
      margin-bottom: 1rem;
    }
  }
}

.basic-page-main-region {
  .small-feature {
    margin: 2rem auto;
  }
}
