{{ attach_library('sunyoswego/main-menu') }}

<button class="hamburger hamburger--spin" type="button">
  <span class="hamburger-box">
    <span class="hamburger-inner"></span>
  </span>
</button>

<nav id="main-nav" class="main-nav">
  {% include "@molecules/menus/_menu.twig" with {
    menu_class: "main-menu",
    items: pl ? header.menu_items : menu_items,
  } %}
</nav>
