<div class="cta {{ bg }}">
  <div class="flex-ns">
    <div class="cta__content">
        {{ cta_content }}
    </div>
    <div class="cta__link">
      {{ cta_link_content }}
    </div>
  </div>
</div>