.alert {
  padding: $space4;
  @include drop;

  .icon {
    @include f0;
    padding-right: $space4;
    width: 150px;
  }
  &--urgent {
    color: #ffd3d3;
    background: darken(red, 15%);
    a {
      color: $oswego-gold;
    }
  }
  &--notice {
    background: lighten($oswego-gold, 20%);
    color: $gray-dark;
  }
  &--promo {
    background: lighten(blue, 45%);
    color: $gray-dark;
  }
  &--mini {
    padding: $space2;
    margin-bottom: $space2;
    .icon {
      @include f3;
      padding-right: $space3;
      padding-left: $space3;
      width: 50px;
    }
    p:last-child {
      margin-bottom: 0;
    }
  }
}
