{{ attach_library('sunyoswego/gallery') }}

<div class="gallery">
    <figure class="gallery-item">
        <img src="//picsum.photos/800/400">
        <figcaption><p>Aliter homines, aliter philosophos loqui putas oportere?</p></figcaption>
    </figure>
    <figure class="gallery-item">
        <img src="//picsum.photos/800/400">
        <figcaption><p>Aliter homines, aliter philosophos loqui putas oportere?</p></figcaption>
    </figure>
    <figure class="gallery-item">
        <img src="//picsum.photos/800/400">
        <figcaption><p>Aliter homines, aliter philosophos loqui putas oportere?</p></figcaption>
    </figure>
    <figure class="gallery-item">
        <img src="//picsum.photos/800/400">
        <figcaption><p>Aliter homines, aliter philosophos loqui putas oportere?</p></figcaption>
    </figure>
    <figure class="gallery-item">
        <img src="//picsum.photos/800/400">
        <figcaption><p>Aliter homines, aliter philosophos loqui putas oportere?</p></figcaption>
    </figure>
</div>