@mixin grid {
  display: flex;
  flex-wrap: wrap;
  max-width: $max-width;
  margin: auto;
  grid-gap: 2rem;
  @supports (display: grid) {
    @media screen and (min-width: $medium) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

.grid {
  @include grid;
  &.grid--columns-2 {
    @supports (display: grid) {
      @media screen and (min-width: $medium) {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}