<div class="cta-block-multiple">
    <div class="tc cont-800">
        <h5 class="f7 tc-og ttu tracked whitney mb2">No time like the present</h5>
        <h2 class="mt0">Start Your Application</h2>
        <p class="center" style="max-width: 100ch">Plorem ipsum dolor sit amet consectetur adipiscing elit qui autem esse poteris nisi te amor ipse ceperit duo reges constructio interrete nonne videmus.</p>
    </div>
    <div class="tc">{% include "@atoms/02-text/00-headings/_heading.twig" with {
        heading_level: 3,
        heading: cta_heading
    }%}
    </div>

    <div class="cta-block-multiple__content">
        {% if pl %}
            {{ cta_content|raw }}
        {% else %}
            {{ cta_content }}
        {% endif %}

    </div>
    <div class="cta-block-multiple__links">
        {% include "@atoms/01-links/link/link.twig" with {
            link_url: cta_link,
            link_content: "Visit",
            link_base_class:"button btn-green",

        } %}
        {% include "@atoms/01-links/link/link.twig" with {
            link_url: cta_link,
            link_content: "Request Information",
            link_base_class:"button btn-green",

        } %}
        {% include "@atoms/01-links/link/link.twig" with {
            link_url: cta_link,
            link_content: "Apply",
            link_base_class:"button btn-green",

        } %}
        {% include "@atoms/01-links/link/link.twig" with {
            link_url: cta_link,
            link_content: "Application Status",
            link_base_class:"button btn-green",

        } %}
    </div>
</div>