{% embed "@templates/_default.twig" with {
  sidebar: TRUE,
  menu_items: header.menu_items,
  footer_menu_items: footer.menu_items,
  breadcrumb: breadcrumb
} %}
  {% block page_hero %}
  
  {% if show_hero %}
    {% include "@molecules/hero/hero.twig" %}
  {% else %}
    {% include "@molecules/page-intro/page-intro.twig" with {
      title: "Basic page template",
      intro: "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Minime vero istorum quidem, inquit. Illud dico, ea, quae dicat, praeclare inter se cohaerere."
    } %}
  {% endif %}
  
  
  {% endblock %}

  {% block page_content %}

  <p class="intro f4 relative yellow-line mb4 pb4">Enim inter se dissentiunti saepe ab aristotele a theophrasto mirabiliter est laudata per se ipsa rerum scientia quia si mala sunt is qui erit in.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Illa tamen simplicia, vestra versuta. Quid est, quod ab ea absolvi et perfici debeat? Quo modo autem optimum, si bonum praeterea nullum est? Duo Reges: constructio interrete.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Illa tamen simplicia, vestra versuta. Quid est, quod ab ea absolvi et perfici debeat? Quo modo autem optimum, si bonum praeterea nullum est? Duo Reges: constructio interrete.</p>
    {% include "@templates/_place-holder.twig" with {
      "place_holder": "Main content",
    } %}
  {% endblock %}

  {% block page_sidebar %}
    {% include "@molecules/menus/left-navigation/left-navigation.twig" %}
    {% include "@templates/_place-holder.twig" with {
      "place_holder": "Lower sidebar",
    } %}
  {% endblock %}

  {% block full_width %}
    {% include "@templates/_place-holder.twig" with {
      "place_holder": "Full width",
    } %}
  {% endblock %}

{% endembed %}
