.button-row {
  margin: 2rem auto;
  text-align: center;
  display: grid;
  grid-gap: 1rem;
  &.buttons-2,
  &.buttons-3,
  &.buttons-4 {
    grid-template-columns: 1fr 1fr;
    max-width: 800px;
  }
  @include medium {
    &.buttons-2 {
      grid-template-columns: 1fr 1fr;
      max-width: 800px;
    }
    &.buttons-3 {
      grid-template-columns: 1fr 1fr 1fr;
      max-width: 1024px;
    }
    &.buttons-4 {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .button {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.field-full-width-content .button-row {
  @include wrapper($max-width, 0, 0, $gutter, $gutter * 2);
}