.footer {
  margin-top: 4rem;
  padding: 4rem 1rem;
  background-color: $gray-darker;
  color: white;



  &__links_heading {

  }
  &__links {
    padding: 0;
    a {
      color: $near-white;
      transition: color .5s;
      &:hover {
        color: $oswego-gold;
        transition: color .25s;
      }
    }
  }
}
