
<div class="hero" style="background-image: url('{{ hero_img_src }}')">
  <div class="hero__content">
    {% include "@atoms/02-text/00-headings/_heading.twig" with {
      heading_level: 3,
      heading: dinger_text,
      heading_block_class: "hero",
      heading_base_class: "dinger"
    } %}
    {% include "@atoms/02-text/00-headings/_heading.twig" with {
      heading_level: 1,
      heading: heading
    } %}
  <p class="f4">{{ description_text }}</p>
  </div>
</div>