.grid > .infographic {
  @include grid-item(3);
}

.ig-gr {
  color: #fafafa;
  background: $oswego-green;
}

.ig-ye {
  background: $oswego-gold;
  color: #2f2f2f;
}

.ig-2 {
  .infographic {
    width: 50%;
    margin-right: 2rem;
  }

  .infographic:last-child {
    margin-right: 0;
  }
}

.ig-3 {
  .infographic {
    width: 33.333%;
    margin-right: 2rem;
  }

  .infographic:last-child {
    margin-right: 0;
  }
}

.ig-4 {
  .paragraphs-item-infographic {
    width: 25%;
    margin-right: 2rem;
  }

  .paragraphs-item-infographic:last-child {
    margin-right: 0;
  }
}

.infographic-container {
  @media screen and (min-width: 768px) {
    display: flex;

    .infographic {
      padding-right: 4rem;

      &:last-child {
        padding-right: 0;
      }
    }
  }
}
