// LI
.main-menu__item {
  border-top: 1px solid;
  display: flex;
  flex-wrap: wrap;
  position: relative;

  @include breakpoint($menu-breakpoint) {
    border-top: none;
    display: inline-block;

    // Only top level
    &:not(.main-menu__item--sub):hover {
      background-color: $black;
      transition: all 0.2s;

      & > .main-menu--sub {
        display: block;
      }
    }
  }

  &:hover {
    .main-menu__link::after {
      color: $gray;
    }
  }
}

.left-navigation {
  .with-sub {
    position: relative;
    & > a {
      padding-right: 3.75rem;
      &:hover {
        padding-right: 3.5rem;
      }
    }
  }
  // Expand Button
  .expand-sub {
    position: absolute;
    top: .5rem;
    right: .75rem;
    cursor: pointer;
    margin: 0;
    padding: 1rem;
    border: none;
    box-shadow: none;
    transform: rotate(0deg);
    transition: transform .5s;
    &--open {
      transform: rotate(180deg);
      transition: transform .25s;
    }
  }

}


//
// Sub Navigation
//
// LI (Nested)
.main-menu__item--sub {
  @include breakpoint($menu-breakpoint) {
    display: block;

    &:not(:first-child) {
      border-top: 1px solid $gray-light;
    }
  }
}
