// A
.main-nav li a {
  @include f5;
  @include lh-solid;
  @include uppercase;

  letter-spacing: 0;
  color: $oswego-green;
  display: block;
  padding: $space3 $space2;
  text-decoration: none;
  font-weight: 400;
  text-align: center;

  &--with-sub {
    width: 80%;
  }

  @include breakpoint($menu-breakpoint) {
    color: white;
    border-bottom: none;
    display: inline-block;
    position: relative;
    width: auto;

    &.active,
    &:active,
    &:hover {
      color: $gray-lighter;
    }

    &--sub::after {
      display: none;
    }

    &:hover {
      color: $white;

      &::after {
        color: $gray-light;
      }
    }
  }
}

//
// Sub Navigation Links
//
// A (Nested)
.main-menu .with-sub {
  color: $gray-dark;
  padding-left: $space-triple;
  font-weight: normal;

  @include breakpoint($menu-breakpoint) {
    color: $gray-light;
    display: block;
    padding: $space-one-third $space;
  }
}

.main-menu--sub-2 {
  background-color: $gray-lightest;
}

.main-menu__link--sub-2 {
  padding-left: $space-quadruple;
}
