{{ attach_library('sunyoswego/main-menu') }}

<div id="main-nav" class="main-nav">
  <div class="mobile-search">
    <form class="navbar-search flex" id="searchbox_003327519464892966402:tdtbguomc1q-mobile" method="get" action="https://www.oswego.edu/google_search.html">
      <label for="search" class="sr-only">Search oswego.edu (mobile)</label>
      <input type="text" class="w-100 form-item__textfield" placeholder="Search Oswego.edu" id="search" maxlength="255" name="q">
      <button class="o-btn btn-green" type="submit">Search</button>
      <input type="hidden" value="003327519464892966402:tdtbguomc1q-mobile" name="cx">
      <input type="hidden" value="FORID:11" name="cof">
    </form>
  </div>
  <ul region="header" class="main-menu">
    <li><a href="main-menu__link" href="#">Popular Links</a></li>
    <li class=""><a class="main-menu__link" href="https://www.oswego.edu/about">About</a></li>
    <li class=""><a class="main-menu__link" href="https://www.oswego.edu/academics">Academics</a></li>
    <li class=""><a class="main-menu__link" href="https://www.oswego.edu/admissions">Admissions</a></li>
    <li class=""><a class="main-menu__link" href="https://www.oswego.edu/student-life">Student Life</a></li>
    <li class=""><a class="main-menu__link" href="https://www.oswego.edu/news">News and Events</a></li>
    <li class=""><a class="main-menu__link" href="https://www.oswegolakers.com">Athletics</a></li>
    <li class=""><a class="main-menu__link" href="https://alumni.oswego.edu">Alumni and Friends</a></li>
  </ul>
</div>
