.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-images2 {
  width: 1.125em;
}

.icon-gamepad3 {
  width: 1.25em;
}

.icon-connection {
  width: 1.25em;
}

.icon-books {
  width: 1.125em;
}

.icon-library {
  width: 1.0625em;
}

.icon-cash3 {
  width: 1.0625em;
}

.icon-keyboard {
  width: 1.125em;
}

.icon-bubbles {
  width: 1.125em;
}

.icon-bubbles3 {
  width: 1.125em;
}

.icon-cup {
  width: 1.0625em;
}

.icon-cup2 {
  width: 1.0625em;
}

.icon-mountains {
  width: 1.125em;
}

.icon-lamp7 {
  width: 0.9999999999999999em;
}

.icon-bike {
  width: 1.1875em;
}

.icon-embed2 {
  width: 1.25em;
}

.icon-code {
  width: 1.25em;
}
