<div class="featured-content relative">
  <div class="featured-content__image" style="background-image: url({{ media_uri }});">
  </div>
  <div class="content">
    {% include "@atoms/02-text/00-headings/_heading.twig" with {
      heading_level: 3,
      heading: heading
    }%}
    {% if pl %}
        {{ body|raw }}
    {% else %}
        {{ body }}
    {% endif %}
  </div>
</div>