.featured-content {
  color: #fafafa;
  background-repeat: no-repeat;
  background-size: 40%;
  display: flex;
  min-height: 400px;

  h2 {
    margin-top: 0;
    padding-top: 0;
    color: white;
  }

  a {
    color: $oswego-gold;
  }

  .featured-content__image {
    background-size: cover;
    background-position: center;
    width: 50%;
  }

  .o-btn.btn-arrow {
    color: white;

    &:hover {
      color: $oswego-gold;
    }

    &::after {
      color: $oswego-gold;

      &:hover {
        color: $gray-dark;
      }
    }
  }

  .content {
    background: $oswego-green;
    width: 50%;
    padding: $space4;
  }
  @media screen and (max-width: 768px) {
    display: block;

    .content {
      width: 100%;
    }

    &.slick-slide {
      display: block !important;
    }

    .featured-content__image {
      width: 100%;
      height: 45vw;
    }

    .featured-content .content {
      padding: 1rem;
      width: 100%;
    }
  }

  &.slick-slide {
    display: flex;
  }
}
