$color-pl-place-holder: $gray-lightest;

.pl-place-holder {
  color: $gray-light;
  border: 4px dashed $color-pl-place-holder;
  padding: 4rem;

  &__content {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.5rem;
    line-height: 1.15;
    font-weight: bold;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
