.accordion-container {
  border-top: 1px solid #f2f2f2;
  border-left: 1px solid #f2f2f2;
  border-right: 1px solid #f2f2f2;
  &:last-child {
    border-bottom: 1px solid #f2f2f2;
  }
}

.accordion-content {
  padding: 0.5rem 1rem;
}

.accordion-toggle {
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .accordion-title {
    order: 1;
  }

  .fa,
  .icon {
    order: 2;
  }

  &:hover,
  &:focus {
    background: #f2f2f2;
    //border: none;
  }

  &:active {
    border: none;
  }

  &:focus {
    outline: 2px solid $oswego-green;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    margin: 0;
  }

  .icon {
    transform: rotate(0deg);
    transition: transform 0.5s;
  }

  &.open {
    background: #f2f2f2;

    .icon {
      transform: rotate(-90deg);
      transition: transform 0.25s;
    }
  }
}

@media screen and (min-width: $medium) {
  .accordion-content,
  .accordion-toggle {
    padding: 1rem;
  }
}
