<div class="list-card">
    <h4 class="ttu tracked whitney f6">Dining menu</h4>
    <ul>
        <li><a href="#">Tuscan Bean Soup, Homemade</a></li>
        <li><a href="#">Chicken Noodle Soup (KC)</a></li>
        <li><a href="#">Greek Gyro Sandwich</a></li>
        <li><a href="#">Greek Gyro, no pita</a></li>
        <li><a href="#">Chicken Quarters (Perdue)</a></li>
    </ul>
</div>