.card {
  max-width: $card-width;
  @include drop;
  @include rounded;
  &__copy {
    padding: 2rem;
  }

  &.grid-item:last-child {
    margin-right: auto;
  }
  @include medium {
    //display: flex;

    .content {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
  @include large {
    display: block;
    &.grid-item:last-child {
      margin-right: auto;
    }

    .content {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }
  &--center {
    text-align: center;
    .card__title {
      &::after {
        content: "";
        height: 2px;
        width: 25%;
        background-color: #ffcc33;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
      }
    }
  }
}

.card__title {
  position: relative;
  padding-bottom: $space3;
  margin-bottom: $space4;

  a {
    @include link;

    text-decoration: none;
  }
  margin-bottom: 1rem;
  &::after {
    content: "";
    height: 2px;
    width: 25%;
    background-color: #ffcc33;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: auto;
  }
}

.card__subtitle {
  @include f7;
  padding: 0;
  @include uppercase;
  @include tracking;
  font-weight: 600;
  color: $gray-light;
  font-family: $whitney;
}


.card__body {
  @include f6;
}

.card__link {
  @include link;
}

.card__button {
  @include button;
}

.card img {

}

// Variations
.card.bg {
  background-color: lighten($gray-lightest, 7%);
}
